<!DOCTYPE html>
<html lang="en">
<head>
    <script src="src/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildschweintracker</title>
</head>
<body>
    <h1>Wildschweintracker</h1>
    <form action="src/igotboared.php" method="post">
        <input class="longitude" type="hidden" name="longitude" value="0">
        <input class="latitude" type="hidden" name="latitude" value="0">
        <input name="igotboared" type="submit">
    </form>
</body>
</html>